<section class="page">
<h1>Please Login!</h1>

<p></p>
<form action=" <%= session_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="user_email">Enter your EMail:</label>
  <input type="text" name="user[email]" id="user_email">
  <br>
  <br>
  <label for="user_email">Enter your password:</label>
  <input type="password" name="user[password]" id="user_password">
  <br>
  <br>
  <input type="submit" value="Login">
</form>
</section>
