<section class="page">
<h1>Create new user!</h1>

<p></p>
<form action=" <%= users_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="user_email">Enter your EMail:</label>
  <input type="text" name="user[email]" id="user_email" value="<% @user.email %>">
  <br>
  <br>
  <label for="user_email">Choose a password:</label>
  <input type="password" name="user[password]" id="user_password" value="<% @user.password %>">
  <br>
  <br>
  <input type="submit" value="Create User!">
</form>
</section>
