/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 header > img {
   height:60px;
   width:60px;
   padding: 15px;
 }

header {
  display: block;
  width: 100%;
  float: left;
  font-family: fantasy;
  font-size: 48px;
  padding-bottom: 15px;
  align-content: center;
}
 header > div {
   float: right;
 }

.login {
  font-size: 24px;
  align-self: center;
}

body {
  background-image: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX5428179.jpg);
  background-size: cover;
}
