<!DOCTYPE html>
<html>
  <head>
    <title>Music</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <img src="https://i.pinimg.com/736x/68/e8/7e/68e87eaa39e4308d69c1844287177f95--shake-shack-burger-logo-food.jpg" alt="Music logo">
    Music App

    <div class="login">
    <% if logged_in? %>
        <p>Welcome, <%= current_user.email %></p>
        <form action="<%= session_url %> " method="POST">
          <input type="hidden" name="authenticity_token" method="<%=form_authenticity_token%>">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Logout">
        </form>
    <% else %>
      <a href="<%= new_session_url %>">Sign in</a>
      <a href="<%= new_user_url %>">Sign up</a>
    <% end %>
    </div>

  </header>

  <body>
    <% if flash[:errors] %>
     <ul>
       <% flash[:errors].each do |error| %>
         <li><%= error %></li>
       <% end %>
     </ul>
   <% end %>

    <%= yield %>
  </body>
</html>
